.game-board-container {
  min-width: 540px;
  min-height: 540px;
  background: #f3f9fc;
  border-radius: 16px;
}

.game {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.game-board-content {
  display: block;
  color: #3a83b8;
  margin: 0 auto;
  padding: 100px;
  width: 83%;
}
.game-board {
  margin-bottom: 30px;
  margin-top: 30px;
}
.game-board-content p {
  font-size: 15px;
  display: block;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  font-weight: 600;
}
.game-content {
  align-items: center;
  justify-content: center;
  display: flex;
  display: flex;
  flex-direction: column;
}
#game-button {
  background: #3a83b8;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  border-radius: 8px;
  width: 143px;
  height: 52px;
}
